.metismenu {
  position: relative;
  overflow: inherit !important;
  background: none;

  &::after {
    content: "";
    box-shadow: none;
  }
}

.vertical-nav-menu {
  .metismenu-container {
    box-shadow: none;

    &.visible {
      padding: 0.5em 0 0 1rem;

      & > .metismenu-item {
        & > .metismenu-link {
          height: 3.5em;
        }
      }
    }

    .metismenu-container {
      position: relative;

      opacity: 0;
      -webkit-transition: padding 0.3s;
      transition: all 0.3s;

      &.visible {
        padding: 0 0 0 1.2rem;
        opacity: 1;
      }

      .metismenu-item {
        .metismenu-link {
          // height: 0;
          overflow: hidden;
          cursor: pointer;
        }
      }
    }
  }

  & .metismenu-item {
    background: none;
    margin: 0;
    position: relative;
  }

  .metismenu-link {
    & > a {
      text-decoration: none;
    }
  }

  .metismenu-icon {
    width: 20px;
    display: flex;
    // height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
