.header-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#036681+13,053969+100 */
  background: #036681; /* Old browsers */
  background: -moz-linear-gradient(left, #036681 13%, #053969 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #036681 13%,
    #053969 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #036681 13%,
    #053969 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036681', endColorstr='#053969',GradientType=1 ); /* IE6-9 */
}
