// Sidebar Base

.app-sidebar {
  width: $app-sidebar-width;
  display: flex;
  z-index: 11;
  overflow: hidden;
  min-width: $app-sidebar-width;
  position: relative;
  flex: 0 0 $app-sidebar-width;
  // margin-top: -$app-header-height;
  padding-top: $app-header-height;
  transition: all 0.2s;

  .app-sidebar__inner {
    padding: 2px ($layout-spacer-x) $layout-spacer-x;
  }

  .scrollbar-container {
    z-index: 15;
    width: 100%;
  }

  .app-sidebar-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-size: cover;
    z-index: 10;
  }

  .app-header__logo {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 11;
  }

  &.sidebar-shadow {
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  }
}

.app-sidebar__heading {
  text-transform: uppercase;
  font-size: $font-size-xs;
  margin: ($layout-spacer-x / 2) 0;
  font-weight: bold;
  color: $primary;
  white-space: nowrap;
  position: relative;
}

.sidebar-mobile-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.6;
  left: 0;
  top: 0;
  z-index: 12;
}

.metismenu-link:hover,
.metismenu-link.active {
  color: #006eff !important;
  .icon-dashboard {
    background-image: url("../../../images/icons/sidebar/Active-Dashboard.svg");
  }
  .icon-reports {
    background-image: url("../../../images/icons/sidebar/Active-Reports.svg");
  }
  .icon-announcements {
    background-image: url("../../../images/icons/sidebar/Active-Announcements.svg");
  }
  .icon-attendance {
    background-image: url("../../../images/icons/sidebar/Active-Attendance.svg");
  }
  .icon-facilities {
    background-image: url("../../../images/icons/sidebar/Active-Facilities.svg");
  }
  .icon-applications {
    background-image: url("../../../images/icons/sidebar/Active-Applications.svg");
  }
  .icon-bookkeeping {
    background-image: url("../../../images/icons/sidebar/Active-Bookkeeping.svg");
  }
  .icon-feedback {
    background-image: url("../../../images/icons/sidebar/Active-Feedback.svg");
  }
  .icon-unitmanagement {
    background-image: url("../../../images/icons/sidebar/Active-UnitManagement.svg");
  }
  .icon-visitormanagement {
    background-image: url("../../../images/icons/sidebar/Active-VisitorManagement.svg");
  }
  .icon-estatematters {
    background-image: url("../../../images/icons/sidebar/Active-EstateMatters.svg");
  }
}

.icon-dashboard {
  background-image: url("../../../images/icons/sidebar/Dashboard.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-reports {
  background-image: url("../../../images/icons/sidebar/Reports.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-announcements {
  background-image: url("../../../images/icons/sidebar/Announcements.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-attendance {
  background-image: url("../../../images/icons/sidebar/Attendance.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-facilities {
  background-image: url("../../../images/icons/sidebar/Facilities.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-applications {
  background-image: url("../../../images/icons/sidebar/Applications.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-bookkeeping {
  background-image: url("../../../images/icons/sidebar/Bookkeeping.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-feedback {
  background-image: url("../../../images/icons/sidebar/Feedback.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-unitmanagement {
  background-image: url("../../../images/icons/sidebar/UnitManagement.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-visitormanagement {
  background-image: url("../../../images/icons/sidebar/VisitorManagement.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-estatematters {
  background-image: url("../../../images/icons/sidebar/EstateMatters.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.caret-left {
}

// Sidebar Components

@import "modifiers/navmenu-vertical";

// Sidebar Modifiers

@import "themes/sidebar-light";
@import "themes/sidebar-dark";
//@import "themes/sidebar-inverted";

@import "modifiers/fixed-sidebar";
@import "modifiers/closed-sidebar";
