.ReactTable {
  position: relative;

  .rt-thead.-header {
    // border-bottom: 3px solid #e8e8e8;
    padding: 15px 0 0;
  }

  .rt-thead.-filters {
    // height: 50px;
  }
  .rt-th.rthfc-th-fixed.rthfc-th-fixed-left.rthfc-th-fixed-left-last {
    border: 0px solid;
  }
  .rt-table {
    flex: auto 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
  }

  .rt-thead.-filters {
    border-bottom: 1px solid #e9ecef;

    .rt-th {
      // border-right: 1px solid #e9ecef;
    }
  }

  .-pagination input,
  .-pagination select,
  .rt-thead.-filters input,
  .rt-thead.-filters select {
    display: block;
    width: 100%;
    // background-color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;

    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }

    // Placeholder
    &::placeholder {
      color: inherit;
      opacity: 1;
    }
  }

  .rt-thead.-filters input {
    height: 32px;
    background-color: #ffffff;
    outline: none;
  }

  .rt-thead {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    user-select: none;

    &.-headerGroups {
      display: none;
      background: rgba(0, 0, 0, 0);
    }

    &.-filters {
      // border-top: 1px solid rgba(0, 0, 0, 0.1);
      background: #ffffff;

      .rt-th {
      }

      &.-header {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
      }
    }

    .rt-tr {
      text-align: center;
      // border-bottom: 1px solid red;
    }

    .rt-th,
    .rt-td {
      padding: 12px 20px;
      line-height: normal;
      position: relative;
      font-weight: bold;
      transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      box-shadow: inset 0 0 0 0 transparent;
      color: #39475b;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      // border-right: 1px solid #e9ecef;
    }

    .rt-th.-cursor-pointer,
    .rt-td.-cursor-pointer {
      cursor: pointer;
    }

    .rt-th:last-child,
    .rt-td:last-child {
      border-right: 0;
    }

    .rt-resizable-header {
      overflow: visible;
    }

    .rt-resizable-header:last-child {
      overflow: hidden;
    }

    .rt-resizable-header-content {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    .rt-header-pivot {
      border-right-color: #f7f7f7;
    }

    .rt-header-pivot:after,
    .rt-header-pivot:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .rt-header-pivot:after {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #ffffff;
      border-width: 8px;
      margin-top: -8px;
    }

    .rt-header-pivot:before {
      border-color: rgba(102, 102, 102, 0);
      border-left-color: #f7f7f7;
      border-width: 10px;
      margin-top: -10px;
    }
  }

  .rt-tbody {
    flex: 99999 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .rt-tr-group:last-child {
      border-bottom: 0;
    }

    .rt-td {
      align-items: center;
      align-content: center;
      display: flex;
      color: #646464;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;

      [contenteditable="true"] {
        width: 100%;
        border: 1px solid transparent;

        &:focus {
          padding: 3px 5px;
          outline: none;
        }
      }
    }

    .rt-td:last-child {
      border-right: 0;
    }

    .rt-expandable {
      cursor: pointer;
      text-overflow: clip;
    }
  }

  .rt-tr-group {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 1px solid #e9ecef;
  }

  .rt-tr {
    flex: 1 0 auto;
    display: inline-flex;
  }

  .rt-th,
  .rt-td {
    flex: 1 0 0;
    text-overflow: ellipsis;
    padding: 12px 20px;
    //overflow: hidden;
    transition: 0.3s ease;
    transition-property: width, min-width, padding, opacity;

    &.-hidden {
      width: 0 !important;
      min-width: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      opacity: 0 !important;
    }
  }

  .rt-expander {
    display: inline-block;
    position: relative;
    color: transparent;
    margin: 0 10px 0 0;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      border-left: 5.04px solid transparent;
      border-right: 5.04px solid transparent;
      border-top: 7px solid rgba(0, 0, 0, 0.8);
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      cursor: pointer;
    }
    &.-open:after {
      transform: translate(-50%, -50%) rotate(0);
    }
  }

  .rt-resizer {
    display: inline-block;
    position: absolute;
    width: 36px;
    top: 0;
    bottom: 0;
    right: -18px;
    cursor: col-resize;
    z-index: 10;
  }

  .rt-tfoot {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

    .rt-td {
      &:last-child {
        border-right: 0;
      }
    }
  }

  &.-striped .rt-tr.-odd {
    background: #fafafa;
  }

  &.-fixed {
    .-header {
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.07);
    }

    .pagination-bottom {
      box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.07);
    }
  }

  &.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  }

  .-pagination {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 12px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .-btn {
      appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      padding: 6px;
      font-size: 1em;
      transition: all 0.2s ease;
      cursor: pointer;
      outline: none;
      font-weight: bold;
    }

    .-btn[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    .-btn:not([disabled]):hover {
    }

    .-previous,
    .-next {
      flex: 1;
      text-align: center;
    }

    .-center {
      text-align: center;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    .-totalPages {
      padding-left: 5px;
      font-weight: bold;
    }

    .-pageInfo {
      display: inherit;
      margin: 3px 0 3px 10px;
      white-space: nowrap;
      height: 30px;
      line-height: 30px;
    }

    .-pageJump {
      display: inline-block;
      margin: 0 5px;
    }

    .-pageJump input {
      width: 70px;
      text-align: center;
    }

    .-pageSizeOptions {
      margin: 3px 10px;
    }
  }

  .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.5);
  }

  .-loading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  .-loading > div {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 15px;
    transform: translateY(-52%);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .-loading.-active {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
  }

  .-loading.-active > div {
    transform: translateY(50%);
  }

  .rt-resizing .rt-th,
  .rt-resizing .rt-td {
    transition: none !important;
    cursor: col-resize;
    user-select: none;
  }
}

.ReactTable.hasHeaderGroup {
  position: relative;

  .rt-th {
    outline: none;
  }

  .-headerGroups {
    display: block;
    background: rgba(0, 0, 0, 0);
    outline: none;
  }
}

.table thead th,
.table td {
  vertical-align: middle;
}

.table {
  th .filter {
    height: auto;
    padding: 0.3rem 0.5rem;
  }
}

.rt-th.rt-resizable-header {
  display: flex;
  align-items: center;
  outline: none;
}

.rthfc-th-fixed-left-last.rt-resizable-header {
  border-right: none !important;
}
.rthfc-td-fixed-left-last {
  // border-right: none !important;
  padding: 0 !important;
}

.rthfc.-striped .rt-tr.-odd .rt-td {
  background-color: #fafafa;
}

.rthfc .rt-td.rthfc-td-fixed-left-last {
  border-right: none !important;
}

.rthfc .rt-th.rthfc-th-fixed-right-first,
.rthfc .rt-td.rthfc-td-fixed-right-first {
  border-left: solid 1px transparent !important;
}

.ReactTable .rt-thead.-filters .rt-th {
  outline: none !important;
  padding: 0 20px 30px;
}

.ReactTable {
  .rt-thead.-filters > .rt-tr > .rt-th:nth-child(1) {
    border-right: none !important;
  }
}
