.applications-table__content {
  padding: 0 0 20px 0;
}

.applications-table__header {
  &--actions {
    color: $blue;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;

    & > svg {
      margin-right: 10px;
      path {
        fill: $blue;
      }
    }
  }
}

.applications-create__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3B4859;
  text-transform: uppercase;
}

.applications-create {
  padding: 40px 30px; 
}
