.table__header {
  &--actions {
    color: $blue;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;

    & > svg {
      margin-right: 10px;
      path {
        fill: $blue;
      }
    }
  }
}
