.facilities-table__content {
  padding: 0 0 20px 0;
}

.facilities-table__header {
  &--actions {
    color: $blue;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;

    & > svg {
      margin-right: 10px;
      path {
        fill: $blue;
      }
    }
  }
}

.facilities-create__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #3B4859;
  text-transform: uppercase;
}

.facilities-create {
  padding: 40px 30px; 
}

.facilities__list-toggle {
  &--action {
    background: none;
    border: none;
  }
}

.react-datepicker, .react-datepicker__input-container {
  width: 100%;
  border: none !important;
}

.react-datepicker__month-container,
.react-datepicker__day-names {
  width: 100%;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: calc(100%/8) !important; 
}
.react-datepicker__month {
  margin: 10px 0 !important;
}
.react-datepicker__current-month {
  text-align: left;
  font-weight: 500;
  font-size: 24px !important;
  line-height: 29px;
  letter-spacing: -1.33333px;
  color: #006AFF !important;
}
.react-datepicker__header {
  border: none !important;
}
.react-datepicker__day-name {
  color: #006AFF !important;
  font-weight: 500;
}
.react-datepicker__day-names {
  background: none !important;
  border: none !important;
}
.react-datepicker__navigation--previous {
  left: auto !important;
  right: 50px;
}
.react-datepicker__day--selected {
  background-color: #006AFF !important;
}
.react-datepicker__day--outside-month {
  color: #B3D2FB !important;
}

.custom-control-label {
  color: #006AFF;
  font-weight: 600;
  font-size: 14px;
}
