// carousel
.carousel-indicators {
  margin: 0; 

  li {
    height: 2px !important;
    border-top: 5px solid transparent !important;
    border-bottom: 4px solid transparent !important;
  }
}

// Form
.form-group {
  position: relative;
}

.form-control {
  background-color: #F9FAFC !important;
  border: 1px solid #E3E3E3 !important;
  box-sizing: border-box;
}

label {
  color: #a1a1a1;
}

.custom-control-label {
  padding-left: 15px !important;

  &::before,
  &::after {
    top: 0px !important;
    width: 25px !important;
    height: 25px !important;
    border-color:#006AFF !important;
  }
}